<!-- Navbar Ultra Moderno para Mueblería Cabañas -->
<nav class="navbar navbar-expand-lg stunning-navbar sticky-top">
    <div class="container">
        <!-- Título de marca impactante -->
        <a class="navbar-brand premium-brand" href="index.html">
            <div class="brand-wrapper">
                <div class="brand-accent"></div>
                <span class="brand-first">MUEBLERÍA</span>
                <span class="brand-last">CABAÑAS</span>
            </div>
        </a>
        
        <!-- Botón hamburguesa premium para móviles -->
        <button class="navbar-toggler premium-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-line"></span>
            <span class="toggler-line"></span>
            <span class="toggler-line"></span>
        </button>
        
        <!-- Contenido del navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="index.html#nosotros">
                        <span class="link-text">Nosotros</span>
                    </a>
                </li>
                <li class="nav-item dropdown position-static" id="catalogo-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="catalogo-btn">
                        <span class="link-text">Catálogo</span>
                    </a>
                    <div class="dropdown-menu premium-dropdown w-100" id="catalogo-menu">
                        <div class="container">
                            <div class="row g-4 py-4">
                                <div class="col-6 col-md-4 col-lg-3">
                                    <a href="salas.html" class="premium-item">
                                        <div class="item-image">
                                            <i class="bi bi-house-heart"></i>
                                        </div>
                                        <div class="item-content">
                                            <h6>Salas</h6>
                                            <p>Elegancia y confort para tu espacio social</p>
                                        </div>
                                        <div class="item-arrow">
                                            <i class="bi bi-arrow-right"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3">
                                    <a href="comedores.html" class="premium-item">
                                        <div class="item-image">
                                            <i class="bi bi-cup-hot"></i>
                                        </div>
                                        <div class="item-content">
                                            <h6>Comedores</h6>
                                            <p>Diseños para compartir momentos especiales</p>
                                        </div>
                                        <div class="item-arrow">
                                            <i class="bi bi-arrow-right"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3">
                                    <a href="recamaras.html" class="premium-item">
                                        <div class="item-image">
                                            <i class="bi bi-moon-stars"></i>
                                        </div>
                                        <div class="item-content">
                                            <h6>Recámaras</h6>
                                            <p>Espacios de descanso con estilo único</p>
                                        </div>
                                        <div class="item-arrow">
                                            <i class="bi bi-arrow-right"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3">
                                    <a href="cabeceras.html" class="premium-item">
                                        <div class="item-image">
                                            <i class="bi bi-bookmark-heart"></i>
                                        </div>
                                        <div class="item-content">
                                            <h6>Cabeceras</h6>
                                            <p>El detalle perfecto para tu habitación</p>
                                        </div>
                                        <div class="item-arrow">
                                            <i class="bi bi-arrow-right"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3">
                                    <a href="mesas-centro.html" class="premium-item">
                                        <div class="item-image">
                                            <i class="bi bi-square"></i>
                                        </div>
                                        <div class="item-content">
                                            <h6>Mesas de centro</h6>
                                            <p>Funcionalidad con diseño contemporáneo</p>
                                        </div>
                                        <div class="item-arrow">
                                            <i class="bi bi-arrow-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#contacto">
                        <span class="link-text">Contacto</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#sucursal">
                        <span class="link-text">Sucursal</span>
                    </a>
                </li>
                <li class="nav-item ms-lg-3">
                    <button id="cotizacionBtn" class="premium-button">
                        <span class="button-content">Solicitar cotización</span>
                        <span class="button-icon">
                            <i class="bi bi-arrow-right"></i>
                        </span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>